body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    background: black;
    /* background: rgba(244, 18, 21, 1); */
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    text-align: center;
}

.eye-anim {
    position: absolute;
    top: 0px;
    z-index:500;

}

input {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

a {
    color: #0083a0;
    text-decoration: none;
}

@keyframes mymove {
    0%   {transform: rotate(0deg);}
    50%   {transform: rotate(-12deg);}
    75%   {transform: rotate(-35deg);}
    100%   {transform: rotate(0deg);}
}

.eye-right {
    background-image: url('../images/EyeRight.png');
    background-repeat: no-repeat;
    background-size: 37px;
    background-position: top right;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 2px;
    top: 8px;
    z-index:200;
    animation-name: mymove;
    animation-duration: 20s;
    animation-delay: 4s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

.top-bar {
    height: 30px;
    background:#222526;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
}

.header-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.main-header {

    position: relative;
    z-index: 600;
    width: 100%;
    box-sizing: border-box;
}

.main-header .nav-primary {
    font-size: 1.7em;
    margin: 0;
}

.main-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    color: white;
    line-height: 1em;
    text-shadow: 0px 0px 10px #000000;
    white-space: nowrap;
    margin-right: 0.5rem;
}

.main-logo .letter:nth-child(2) {
    color: #c1c1c1;
    margin-left: -0.4em;
}

.banner-widget {
    position: absolute;
    z-index: 1;
    height: 300vh;
    top: 0;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    pointer-events: none;
}

.banner-widget canvas {
    pointer-events: none;
}

.banner-widget .bx-wrapper {
    z-index: 100;
    position: relative;
}

.banner-widget .banner-widget__items {
    position: relative;
    z-index: 30;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

.banner-widget .banner-widget__item {
    width: 100%;
    height: 100vh !important;
    box-sizing: border-box;
}

.banner-widget__contents {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding: 0 30px;
}

.banner-widget__item img {
    align-self: center;
}

.banner-widget__title {
    margin-bottom: 0;
}

.banner-widget__image {
    opacity: 0.3;
}

.banner-widget .banner-widget__title {
    text-shadow: 0px 0px 10px #000000;
}

.banner-widget canvas {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-primary {
    position: relative;
    margin-left: 10px;
    /*text-shadow: 0px 0px 16px white;*/
    font-size: 26px;
    top: -0.25em;
    flex-grow: 1;
    text-align: center;
}

.nav-primary li {
    display: inline-block;
}

.nav-primary li a {
    text-transform: uppercase;
    color: white;
}

.main-navigation {
    display: flex;
    align-items: baseline;
    padding: 10px 10px 0px 10px;
    z-index: 100;
}

.nav-secondary {
    display: flex;
}

.nav-secondary>* {
    display: inline-block;
}

.nav-wrapper {
    display: flex;
    margin-bottom: 7px;
    width: 100%;
}

input[type="text"], .search-input {
    padding: 0.55em 1em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    border: none;
    font-size: 0.7em;
    color: white;
    outline: none;
    -webkit-appearance: none;
}

.icon-bar {
    list-style: none;
    margin: 0;
    padding: 0 1em;
    display: flex;
    align-items: center;
}

.icon-bar .icon-bar--item {
    position: relative;
    margin: 0 0.5em;
}

.icon-bar .icon-bar--link {
    position: relative;
    display: block;
}

.icon {
    width: 2em;
    height: 2em;
    display: inline-block;
    background-size: contain;
}

.twitter-icon {
    background: url(../images/Twitter_bird_logo_2012.svg) no-repeat;
    width: 1.5em;
    height: 1.1em;
}

.github-icon {
    background: url(../images/github.svg) no-repeat;
    width: 1.5em;
    height: 1.1em;
}

.icon--no-content span {
    display: none;
}

.search-input {}

@media(min-width: 800px) {
    .container {
        max-width: 90%;
    }
    .main-header {
        display: flex;
        margin: 0 auto;
    }
    .nav-primary {
        /* border-radius: 30px; */
    }
    .nav-secondary {
        position: relative;
        top: -0.25em;
    }
    .main-navigation {
        flex-grow: 1;
    }
    .nav-primary {
        padding: 0.25em 0.5em;
        background: rgb(235 235 235 / 25%);
        top: -15px;
        position: relative;
    }
    .nav-primary li {
        margin-right: 25px;
        text-shadow: 1px 1px black;
    }
    .nav-primary li:last-child {
        margin-right: 0;
    }
}

.h1, h2 {
    text-shadow: 0px 0px 26px #ffffff;
    color: white;
    border-bottom: 1px dashed #8c8a8a;
}

a:hover {
    color: #3bbaff;
}

h1, .h1 {
    font-size: 3.4em;
    color: white;
}

.h2 {
    font-size: 1.7em;
    margin-top: 2em;
}

.article {
    z-index: 800;
    position: relative;
}

article a {
    text-shadow: 0px 0px 10px #000000;
}

.sidebar {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.sidebar li {
    margin-bottom: 15px;
    border-bottom: 1px dashed #313131;
    padding-bottom: 15px;
    font-size: 14px;
    /*text-shadow: 0px 0px 50px orange;*/
}

.content {
    display: inline-block;
    width: 79%;
}

.article__content {
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.3), 100vh, rgba(16, 16, 16, 1));*/
    border-radius: 10px;
}