// =============================================
// Logo
// =============================================

.logo {
    display: inline-block;
    white-space: nowrap;
    font-size: 5em;
    line-height: 1;
    text-decoration: none;
    
    &__b {
        margin-left: -0.4em;
        color: color(neutral, light);
    }
    
    &--reverse {
        color: color(neutral, white);
        
        .logo__b {
            color: color(neutral, light);
        }
    }
    
    

}
