// =============================================
// Logo
// =============================================

.logo {
    font-family: $logo-font-family;
    display: inline-block;
    white-space: nowrap;
    font-size: 5rem;
    line-height: 1;
    text-decoration: none;
    text-shadow: 0px 0px 10px color(neutral, black);
    
    &__b {
        margin-left: -0.4em;
        color: color(neutral, light);
    }
    
    &--reverse {
        color: color(neutral, white);
        
        .logo__b {
            color: color(neutral, light);
        }
    }
    
    

}
